/* font-family: 'Libre Baskerville', serif;
   font-family: 'Roboto', sans-serif; */
body {
  margin: 0 auto;
  font-size: 15px;
  width: 1280px;
}

.arrow-sm {
  display: none;
}

.wrapper-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

span {
  margin: 0;
}

.display-none-sm {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.header-content {
  position: absolute;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-13 {
  font-size: 13.6px;
}

.pad-top-10 {
  padding-top: 10px;
}

.color-gold {
  color: #f1cdb3;
}

.letter-spacing-006 {
  letter-spacing: 0.06em;
}

.letter-spacing-01 {
  letter-spacing: 0.1em;
}

.color-white {
  color: #ffffff;
}

.font-family-roboto {
  font-family: "Roboto", sans-serif;
}

.font-family-libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-link {
  color: #cdcdcd;
}

.nav-link:hover {
  border-bottom: 3px solid #f1cdb3;
}

.nav-link-active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.pad-right-35 {
  padding-right: 35px;
}

.not-only {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-repeat: no-repeat;
  padding-top: 180px;
}

h1 {
  font-size: 44px;
  font-family: "Libre Baskerville", serif;
  color: white;
  line-height: 130%;
  font-style: normal;
  font-weight: normal;
  width: 400px;
  margin: 0;
}

.description {
  font-size: 15px;
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  width: 460px;
  line-height: 160%;
  font-style: normal;
  font-weight: normal;
  padding-top: 42px;
  margin: 0;
}

.btn {
  width: 207px;
  height: 52px;
  letter-spacing: 0.06em;
  font-size: 17px;
  font-family: "Libre Baskerville", serif;
  background: #f1cdb3;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #fddcc4;
}

.margin-top-41 {
  margin-top: 41px;
}

.not-only-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pad-top-343 {
  padding-top: 163px;
}

.about {
  margin-top: 80px;
  margin-bottom: 100px;
}

.margin-left-53 {
  margin-left: 53px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Libre Baskerville", serif;
  color: #545454;
  width: 370px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding-bottom: 25px;
}

.discriprion-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discriprion-about-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  width: 430px;
}

.pad-right-120 {
  padding-right: 120px;
}

.our-friends {
  background: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h2-our-friends {
  width: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}

.arrow {
  border-radius: 50%;
  border: 3px solid #fddcc4;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  cursor: pointer;
  background: none;
}

.arrow:hover {
  background: #fddcc4;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 270px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-radius: 9px;
  overflow: hidden;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pets-name {
  font-family: "Libre Baskerville", serif;
  color: #545454;
  letter-spacing: 0.06em;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  padding-top: 30px;
}

.btn-card {
  width: 187px;
  background: none;
  border: 2px solid #fddcc4;
  margin-top: 30px;
}

.btn-card:hover {
  background: #fddcc4;
}

.our-friends-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-right-53 {
  margin-right: 53px;
}

.margin-right-90 {
  margin-right: 90px;
}

.btn-get-to-know {
  width: 270px;
  margin-top: 60px;
}

.help {
  padding-top: 80px;
  padding-bottom: 100px;
}

.h2-help {
  width: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help-card {
  letter-spacing: 0.06em;
  color: #545454;
  line-height: 115%;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pad-top-30 {
  padding-top: 30px;
}

.br-donation-h2 {
  display: none;
}

.help-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.display-none-sm-burger {
  display: none;
}

.pad-right-120 {
  padding-right: 120px;
}

.pad-right-127 {
  padding-right: 127px;
}

.pad-top-55 {
  padding-top: 55px;
}

.donation {
  background: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation-h2 {
  width: 350px;
  padding-bottom: 20px;
}

.donation-name {
  font-size: 15px;
  line-height: 110%;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  font-family: "Roboto", sans-serif;
  color: #545454;
}

.donation-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1cdb3;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #545454;
  margin-top: 20px;
}

.pad-right-15 {
  padding-right: 15px;
}

.donation-last-text {
  color: #b2b2b2;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  width: 380px;
}

.pad-right-30 {
  padding-right: 35px;
}

footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer-h2 {
  color: white;
  width: 350px;
  padding-bottom: 40px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  font-family: "Libre Baskerville", serif;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-bottom-40 {
  padding-bottom: 40px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-width {
  width: 400px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-56 {
  padding-top: 56px;
}

@media (max-width: 1280px) {
  body {
    width: 768px;
    margin: 0 auto;
  }
  .wrapper-1200 {
    max-width: 708px;
    margin: 0 auto;
  }
  .header-content {
    width: 708px;
    padding-top: 30px;
  }
  .our-friends {
    padding-top: 80px;
    padding-bottom: 76px;
  }
  .not-only {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
  }
  .not-only-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-device-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }
  .start-screen-puppy {
    width: 569px;
    height: 593px;
  }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
  }
  .pad-top-80-bottom-100 {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .display-none {
    display: none;
  }
  .margin-right-90 {
    margin-right: 40px;
  }
  .margin-right-53 {
    margin-right: 12px;
  }
  .margin-left-53 {
    margin-left: 12px;
  }
  .margin-right-0 {
    margin-right: 0;
  }
  .pad-right-127 {
    padding-right: 0;
  }
  .pad-right-120 {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .help-card-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px;
    padding-top: 5px;
  }
  .pad-top-55 {
    padding-top: 0;
  }
  .help-card {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .donation-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pad-right-30 {
    padding-right: 0;
    padding-top: 60px;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px;
  }
  .footer-block-width {
    width: 345px;
  }
  .pad-top-40 {
    padding-top: 69px;
  }
  .contacts-width {
    width: auto;
  }
}

@media (max-width: 767px) {
  body {
    width: 320px;
    margin: 0 auto;
  }
  .wrapper-1200 {
    max-width: 300px;
    margin: 0 auto;
  }
  .display-none-sm {
    display: block;
  }
  nav {
    display: none;
  }
  .header-content {
    width: 257px;
  }
  .pad-top-343 {
    padding-top: 110px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
    width: 300px;
    letter-spacing: 0.06em;
  }
  .description {
    width: 300px;
    text-align: center;
  }
  .start-screen-puppy {
    width: 260px;
    height: 271.77px;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    width: 300px;
    letter-spacing: 0.06em;
  }
  .discriprion-about-text {
    width: 270px;
  }
  .about-content {
    padding-top: 42px;
  }
  .img-size-sm {
    width: 260px;
    height: 353.6px;
  }
  .pad-top-80-bottom-100 {
    padding-top: 33px;
    padding-bottom: 42px;
  }
  .h2-our-friends {
    font-size: 25px;
    text-align: center;
    width: 300px;
    letter-spacing: 0.06em;
  }
  .arrow {
    display: none;
  }
  .display-none-sm {
    display: none;
  }
  .margin-right-90 {
    margin-right: 0;
  }
  .arrow-sm {
    border-radius: 50%;
    border: 3px solid #fddcc4;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    outline: none;
    cursor: pointer;
    background: none;
    margin-top: 20px;
  }
  .arrow-sm-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-get-to-know {
    margin-top: 42px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .margin-right-53 {
    margin-right: 100px;
  }
  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .help-card {
    font-size: 15px;
  }
  .img-help-size-sm {
    width: 50px;
    height: 50px;
  }
  .help-card-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
  }
  .help {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .h2-help {
    width: 300px;
  }
  .help-card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .display-none-sm-burger {
    display: block;
  }
  .donation-h2 {
    width: 300px;
  }
  .donation {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .donation-content {
    width: 300px;
  }
  .donation-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
  }
  .br-donation-h2 {
    display: block;
  }
  .donation-name {
    letter-spacing: 0;
  }
  .donation-number {
    width: 280px;
    font-size: 15px;
  }
  .donation-last-text {
    width: 280px;
  }
  .donation-dog-size-sm {
    width: 260px;
    height: 135.2px;
  }
  .pad-right-30 {
    padding-top: 42px;
  }
  .pad-top-56 {
    padding-top: 29px;
  }
  .footer-content {
    padding-top: 0;
  }
  .footer-block-width {
    width: 300px;
  }
  .footer-h2 {
    width: 300px;
  }
  .footer-puppy-size-sm {
    width: 260px;
    height: 269px;
  }
  .pad-top-40 {
    padding-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */